.form-outline .form-control~.form-label {
    color: white;
}
.list-group-item {
    background-color: var(--mdb-body-bg);
}

input[name="password"],
input[name="password_confirm"] {
    -webkit-text-security: disc;
}

.error-message.active{
    color: red;
}

.error-message.hidden{
    color: var(--mdb-body-bg);
}

.register-container .text-center p{
    margin: 0;
}
