#gameCanvas{
    position:absolute;
    
}
#loadingPage{
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    left:0px;
    top: 0px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
    z-index: 1000;
}
#loadingPercent{
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    top:calc(50%);
}
