.dividend_card {
    border: 1px solid orange;
    padding: 2px;
}
.dividend_card .overview {
    display: inline-flex;
}
.dividend_card .overview p{
   font-size: 4px;
   margin-right: 4px;
   color: white;
}
.dividend_card .chart{
    width: 100%;
    height: 100px;
}
