.list-instant-stock {
    /* 對父元素採用inline-block，flex則讓子元素inline-block */
    display: inline-flex;
    width: 100%;
    margin: 0px 3px;
    padding: 5px;
    background-color: inherit;
}

.list-instant-stock .stock-info,
.list-instant-stock .trend-info {
    width: 25%;
}

.list-instant-stock .trend-info {
    text-align: center;
}

.list-instant-stock .instant-trend {
    width: 50%;
    padding: 1px;
}

h5, h6 {
    margin: 2px 0px;
    color: white;
}

.list-instant-stock .rise {
    color: #ff0000;  
}
.list-instant-stock .down{
    color: green;
}

.clear {
    clear: both; 
    height: 0;
    height: 0;
}
